luigi==3.0.3
psycopg2==2.9.1
# sqlalchemy >= 1.4 with luigi version 3.0.3 causes the history tab to throw a 500 error
# only upgrade when this bug is fixed. See:
# https://github.com/spotify/luigi/issues/3006
# https://github.com/spotify/luigi/pull/3058
sqlalchemy==1.3.16
